
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #A23315; 
  color: white;
  padding: 20px; 
}

.About h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.About p {
  font-size: 25px;
  max-width: 800px;
  text-align: center;
  line-height: 1.6; 
}


.dish5 {
  max-width: 100%; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
  margin-bottom: 20px; 
}
